.main_interface_container {
    height: calc(100vh - 70px);
    display: flex;
    flex-direction: row;
    background-color: #F38925;
}

.main-content-area {
    height: calc(100vh - 70px);
    width: 80vw;
}
