.sidebar-container {
    height: 100vh;
    width: 20vw;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#league-submit-button{
    background-color: white;
    color: black;
}
.newleague-container {
    display: flex;
    flex-direction: column;
}
.join-league-container {

}

.myleagues-container {
    height: 40vh;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 15px;
    border-bottom: 1px solid grey;
}