.create-league-form {
    display: flex;
    flex-direction: column;
}

.create-league-form-button {
    width: 25%;
    height: 50px;
}

.newleague-container {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 90%;
    padding-left: 100px;
}