.loginForm {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.formContainer {
    display: flex;
    flex-direction: column;
    align-items: space-between;
}

.loginField {
    display: flex;
    justify-content: space-between;
}
