nav {
    background-color: black;
    height: 70px;
    position: absolute;
    top: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    border: 1px solid white;
}

.nav-main {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/* li {
    color: white;
} */
.fa-basketball-ball {
    color: white;
}

.active {
    color: white
}

.navlink {
    color:white;
    text-decoration: none;
}

.hidden {
    display: none;
}

.title_text {
    color: white;
}
li.title_text {
    list-style: none;
    font-size: 2em;
}

.navbar-right {
    display: flex;
    padding-left: 10px;
    gap: 12px;
}

.navbar-right > li {
    list-style: none;
    background-color: rgb(173, 186, 230);
    transition: background-color .5s;
    border-radius: 5px;
    text-align: center;
    font-size: 1em;
}

.navbar-right > li:hover {
    background-color: blue
}