.content-container {
    height: calc(100vh - 70px);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
   
}

.content-container > div {
    overflow-y: auto;
}
.standings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.standings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.standings > button {
    padding: 20px;
}
.player-name {
    font-size: 1em;
}

.league-name, .team-name {
   font-family: 'Alfa Slab One';
   font-style: italic;
}

.team_button {
    margin: 10px;
    
}

.delete-league {
  text-align: center;
  height: 40px;
}

.available-players {
  width: 50%;
}

.league-info {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.nameanddelete {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}