.content-container {
    display: flex;
    justify-content: center;
}

.standings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.standings {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.standings > button {
    padding: 20px;
}
.player-name {
    font-size: 1em;
}

.league-name, .team-name {
   font-family: 'Alfa Slab One';
   font-style: italic;
}

.team_button {
    padding: 20px 0px; 
}

.delete-league {
    position: absolute;
    left: 80vw;
    bottom:80vh;
}

.available-players {
    position: relative;
    left: 30px;
    top: 25px;
}