.league-submit-button {
    width: 25%;
    height: 50px;
}

.join-league-form {
    box-sizing: border-box;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 75%;
    padding-left: 100px;
}